/*

   ========================================================================== */




/* ======= Core ======= */
html,
body {
  height: 100%;
	background: #f5f5f5;
}
body {
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* == Slide == */


.lol-container{
	background: #FFF;
	padding:50px;
	margin-bottom: 20px;
}

.slide{
	margin: 0;
	padding: 0;
	width: 100%;
	margin-bottom: 20px;
}

ul.bxslider {
	list-style: none;
}

.hero-feature {
	margin-bottom: 30px;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -344px;
  /* equal to footer height */

}
.wrapper:after {
  content: "";
  display: block;
  height: 344px;
  /* must be the same height as footer lel :D; */

}
.footer {
  height: 344px;
  /* must be the same height as footer lel :D*/
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'open sans', arial, sans-serif;
  font-weight: 300;
}
p {
  color: #444444;
  font-size: 13px;
}
a {
	font-family: 'open sans', arial, sans-serif;
  color: #6091ba;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: none;
  color: #365d7e;
}
.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.btn .fa {
  color: #fff;
  margin-right: 5px;
}
.btn .fa.fa-search {
  margin-right: 0;
}
.btn-theme {
  background: #2f506c;
  border: 1px solid #6091ba;
  color: #fff;
}
.btn-theme:hover {
  background: #337ab7;
  border: 1px solid #84aac9;
  color: #fff;
}
a.btn-cta,
.btn-cta {
  background: #6091ba;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 1.33;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #6091ba;
  font-family: 'open sans', arial, sans-serif;
}
a.btn-cta:hover,
.btn-cta:hover {
  color: #fff;
  background: #84aac9;
  border: 1px solid #84aac9;
}
a.btn-cta .fa,
.btn-cta .fa {
  margin-right: 10px;
  font-size: 20px;
  color: #fff;
}

.form-search {
  background: #fafafa;
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  padding: 12px 20px;
  width: 100%;
}

.btn-search {
	display: inline-block;
  padding: 12px 16px;
  background: #ee6e73;
  border: 1px solid #FFF;
  border-radius: 5px;
  text-decoration: none;
  color: #FFF;
  font-size: 1em;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.btn-search:hover,
.btn-search:focus,
.btn-search:active,
.search.button-group.open .button {
  border-color: #8f8f8f;
  color: #FFF;
  text-decoration: none;
}

/* Required for Dropdowns */
.clean.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.clean.dropdown-menu {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 15px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fafafa;
  border: 1px solid #8f8f8f;
  border-radius: 2px;
}
.clean.dropdown-menu:before {
  content: "\00a0";
  display: block;
  height: 10px;
  width: 10px;
  position: absolute;
  top: -6px;
  border: 1px solid #8f8f8f;
  border-right: 0;
  border-bottom: 0;
  background-color: #fafafa;
  right: 10px;
  -webkit-transform: rotate(48deg) skew(5deg);
  transform: rotate(48deg) skew(5deg);
}
.clean.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #8f8f8f;
}
.clean.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  text-decoration: none;
  line-height: 2;
  color: #8f8f8f;
  white-space: nowrap;
}
.clean.dropdown-menu > li > a:hover,
.clean.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #808080;
  background-color: #f3f3f3;
}

.clean.button-group,
.clean.button-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.clean.button-group > .button,
.clean.button-group-vertical > .button {
  position: relative;
  float: left;
}


.form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.form-control:focus {
  border-color: #6091ba;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
blockquote {
  font-size: 14px;
}
blockquote p {
  font-size: 14px;
  line-height: 1.5;
}

/* ======= Demo Season Color (Color Random) ======= */

.default {
  background-color: #60A823;
}
.default:hover {
  background-color: #54931f;
}

.spring {
  background-color: #e27240;
}
.spring:hover {
  background-color: #df622a;
}
.fall {
  background-color: #E28D40;
}
.fall:hover {
  background-color: #df802a;
}
.winter {
  background-color: #C94139;
}
.winter:hover {
  background-color: #b73932;
}
.text-highlight {
  color: #27435a;
}
.highlight-border {
  border-color: #6091ba;
}
.read-more {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-size: 13px;
  display: block;
}
.read-more .fa {
  position: relative;
  top: 1px;
  margin-left: 5px;
}
.read-more:hover {
  text-decoration: none;
}

#topcontrol {
  background: #84aac9;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 35px;
  height: 35px;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
#topcontrol:hover {
  background: #6091ba;
}
#topcontrol .fa {
  position: relative;
  top: 3px;
  font-size: 25px;
}
.row-end {
  margin-right: 0;
  padding-right: 0;
}
ul.custom-list-style li {
  list-style: none;
}
.date-label {
  background: #f5f5f5;
  display: inline-block;
  width: 40px;
  height: 50px;
  text-align: center;
  font-size: 13px;
}
.date-label .month {
  background: #6091ba;
  color: #fff;
  display: block;
  font-size: 13px;
  text-transform: uppercase;
}
.date-label .date-number {
  clear: left;
  display: block;
  padding-top: 5px;
  font-size: 15px;
  font-family: 'open sans', arial, sans-serif;
  font-weight: 500;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #6091ba;
  border-color: #6091ba;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eef3f8;
  border-color: #a7c2d9;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nav-tabs {
  border-bottom: none;
  position: relative;
  margin-bottom: -1px;
}
.tab-content {
  border: 1px solid #e8e8e8;
  padding: 15px;
  margin-bottom: 20px;
}
.nav > li > a {
  font-size: 13px;
}
.nav-tabs > li > a {
  border: 1px solid #e8e8e8;
  border-bottom: none;
  background: #f5f5f5;
  padding: 5px 15px;
  margin-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #444444;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
}
.nav-tabs > li {
  margin-right: 2px;
}
.nav-tabs > li.active {
  border-top: 2px solid #ee6e73;
}
.nav-tabs > li.active a,
.nav-tabs > li.active a:hover,
.nav-tabs > li.active a:active,
.nav-tabs > li.active a:focus {
  border-bottom: 0;
  border-top: 0;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background: #f5f8fb;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #ebebeb;
}
.table > thead > tr > th {
  border-bottom: 2px solid #a7c2d9;
  color: #365d7e;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background: #f5f8fb;
}
.table-boxed,
.table-bordered {
  border: 1px solid #ebebeb;
}
.table.table-boxed > thead > tr > th {
  border-bottom: none;
  background: #6091ba;
  color: #fff;
}

.post
{
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0 0 1px #CCC;
}
.post img
{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}
.post .content
{
    padding: 15px;
}
.post .author
{
    font-size: 11px;
    color: #737373;
    padding: 25px 30px 20px;
}
.post .post-img-content
{
    height: 196px;
    position: relative;
}
.post .post-img-content img
{
    position: absolute;
}
.post .post-title
{
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;
    position: relative;
}
.post .post-title b
{
    background-color: rgba(51, 51, 51, 0.58);
    display: inline-block;
    margin-bottom: 5px;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 5px;
}


.panel-group .panel {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.panel-group .panel .panel-heading {
  background: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.panel-group .panel .panel-heading .panel-title a {
  color: #6091ba;
}
.panel-group .panel .panel-heading .panel-title a:before {
  font-family: FontAwesome;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f146";
  margin-right: 5px;
}
.panel-group .panel .panel-heading .panel-title a.collapsed:before {
  content: "\f0fe";
}
.panel-group .panel .panel-body {
  font-size: 13px;
}
.panel {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.panel .panel-heading {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.panel .panel-heading h3.panel-title {
  font-weight: 500;
}
.panel .panel-heading .label {
  font-size: 10px;
}
.panel .panel-footer {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.panel .panel-footer ul {
  margin-bottom: 0;
}
.panel .panel-footer ul.list-inline li {
  margin-bottom: 0;
}
.panel .panel-footer small {
  color: #999999;
}
.panel > .list-group .list-group-item:last-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.panel-theme {
  border-color: #ee6e73;
}

.panel-theme > .panel-heading,
.panel-theme > .panel-footer {
  color: #fff;
  background: #ee6e73;
  border-color: #ee6e73;
}
.no-margins {
  margin: 0;
}
.no-margin-left {
  margin-left: 0;
}
.no-margin-right {
  margin-right: 0;
}
.no-margin-top {
  margin-top: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.label {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.label.label-theme {
  background: #6091ba;
}
.label .fa {
  margin-right: 4px;
}
.label.label-icon-only .fa {
  margin-right: 0;
}
.badge.badge-theme {
  background: #6091ba;
}
.badge.badge-default {
  background: #999;
}
.badge.badge-primary {
  background: #428bca;
}
.badge.badge-success {
  background: #5cb85c;
}
.badge.badge-info {
  background: #5bc0de;
}
.badge.badge-info {
  background: #5bc0de;
}
.badge.badge-warning {
  background: #f0ad4e;
}
.badge.badge-danger {
  background: #d9534f;
}
.promo-badge {
  font-size: 20px;
  display: table;
}
.promo-badge a {
  color: #fff;
  display: table-cell;
  width: 135px;
  height: 135px;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 5px solid #fff;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.promo-badge .percentage {
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  position: relative;
  font-family: 'open sans', arial, sans-serif;
}
.promo-badge .percentage .off {
  font-size: 11px;
  position: absolute;
  top: 15px;
  right: -15px;
}
.promo-badge .desc {
  font-size: 12px;
}
.progress-bar-theme {
  background: #6091ba;
}
.img-thumbnail {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-color: #e8e8e8;
  margin-bottom: 15px;
}
#cboxLoadedContent,
#cboxContent {
  background: none;
}
.box {
  background: #f5f5f5;
  padding: 15px;
}
.box.box-border {
  border-left: 5px solid #6091ba;
}
.box.box-dark {
  background: #444444;
  color: #fff;
}
.box.box-theme {
  background: #6091ba;
  color: #fff;
}
.box .date-label {
  background: #fff;
}
.social-icons {
  list-style: none;
  padding: 10px 0;
  margin-bottom: 0;
}
.social-icons li {
  float: left;
}
.social-icons li.row-end {
  margin-right: 0;
}
.social-icons a {
  display: inline-block;
  background: #95b6d1;
  width: 32px;
  height: 32px;
  text-align: center;
  padding-top: 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 18px;
  margin-right: 10px;
  float: left;
}
.social-icons a:hover {
  background: #6091ba;
}
.social-icons a .fa {
  color: #fff;
}
.social-icons a .fa:before {
  font-size: 18px;
  text-align: center;
  padding: 0;
}



/* ======== Navbar anime code ======== */
.navbar{
	margin-bottom: 20px;
	border: 1px solid transparent;
}

.navbar-nav > li > a {
  padding-top: 30px;
  padding-bottom: 20px;
  line-height: 20px;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 30px 15px;
  font-size: 18px;
  line-height: 20px;
}

#nav li a:hover {
	transition: border .5s ease-out;
	box-shadow: 4px #3498DB;
}

nav.navbar-ac {
	background: #ee6e73;

}
nav.navbar-ac a {
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
}
nav.navbar-ac ul.navbar-nav a {
	color: #FFF;
	border-style: solid;
	border-width: 0 0 2px 0;
	border-color: #ee6e73;
}
nav.navbar-ac ul.navbar-nav a:hover,
nav.navbar-ac ul.navbar-nav a:visited,
nav.navbar-ac ul.navbar-nav a:focus,
nav.navbar-ac ul.navbar-nav a:active {
	background: #ee6e73;
}
nav.navbar-ac ul.navbar-nav a:hover {
	border-color: #FFF;
}
nav.navbar-ac li.divider {
	background: #ccc;
}
nav.navbar-ac button.navbar-toggle {
	background: #3498DB;
	border-radius: 2px;
}
nav.navbar-ac button.navbar-toggle:hover {
	background: #999;
}
nav.navbar-ac button.navbar-toggle > span.icon-bar {
	background: #2f506c;
}

nav.navbar-ac ul.dropdown-menu {
	background: #ee6e73;
}
nav.navbar-ac ul.dropdown-menu > li > a {

}
nav.navbar-ac ul.dropdown-menu > li > a:hover {
	box-shadow: 4px #ee6e73;
	background: #ee6e73;

}

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);

    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
		border-color: #357ebd;
		opacity: 1;
		padding: 10px 17px;
		font-size: 27px;
}

/*nav.navbar-ac span.badge {
	background: #3498DB;
	font-weight: normal;
	font-size: 11px;
	margin: 0 4px;
}
nav.navbar-ac span.badge.new {
	background: rgba(255, 0, 0, 0.8);
	color: #262f3e;
}*/

@media only screen and (min-width : 768px) {
	/* Make Navigation Toggle on Desktop Hover */
	.dropdown:hover .dropdown-menu {
		display: block;
	}
}

.fa .fa-angle-up {
	width: 0;
	height: 0;
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-bottom: 4px solid;

	display: inline-block;
	margin-left: 2px;
	vertical-align: middle;
}


/* ======= Footer ======= */

.footer{
	background: #444444;
	color: #FFF;
}

.footer p {
	color: #dcdcdc;
}

.footer ul {
padding-left: 0;
}

.footer li {
	list-style: none;
}

.footer h3 {
	margin-top: 0;
	margin-bottom: 20px;
}

.footer .footer-content {
	padding: 30px 0px;
	font-size: 12px;
	min-height: 300px;
}

.footer .footer-content .footer-col .footer-col-inner {
	padding: 0 15px;
}

.footer .footer-content .footer-col .fa.fa-phone {
	font-size: 16px;
}

.footer .footer-content .footer-col li {
	margin-bottom: 10px;
	font-size: 12px;
}

.footer .footer-content .footer-col a {
	color: #dcdcdc;
}

.footer .footer-content .footer-col a:hover {
	color: #84aac9;
}

.footer .footer-content .attr {
  margin-bottom: 30px;
}
.footer .footer-content .attr .fa {
  font-size: 16px;
  margin-top: 2px;
}

.footer .footer-content .subscribe-form {
  padding: 0;
}
.footer .footer-content .subscribe-form .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.footer .footer-content .subscribe-form .form-control {
  width: 320px;
  background: #f5f5f5;
  border: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.footer .footer-content .subscribe-form .form-control:focus {
  background: #fff;
}
.footer .bottom-bar {
  background: #2b2b2b;
  padding: 5px 0;
}
.footer .bottom-bar .copyright {
  font-size: 11px;
  color: #dcdcdc;
  line-height: 3;
}
.footer .bottom-bar .copyright a:hover {
  color: #84aac9;
}

.footer .bottom-bar .social {
  margin: 0;
}

.footer .bottom-bar .social li {
	float: right;
	margin-left: 10px;
	text-align: center;
	font-size: 20px;
	line-height: 2;
}

.footer .bottom-bar .social li a {
  color: #a9a9a9;
  padding: 0 5px;
}
.footer .bottom-bar .social li a:hover {
  color: #6091ba;
}

.footer-char {
  background: url(../../images/footer-char.png) top right no-repeat;
  background-size: cover;
  height: 315px;
  width: 350px;
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
}
